<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>概要:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Download', download_book_path(@book) %> |
<%= link_to 'Pages', book_pages_path(book_id: @book.id) %> |
<%= link_to '編集', edit_book_path(@book) %> |
<%= link_to '戻る', books_path %>
